<template name = 'navbar'>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>PitchPaint</title>

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <script src="init.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css">

    <link rel="stylesheet" type="text/css" href="styles.css" media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body >


      <div class="navbar-fixed">
        <nav class="blue-grey darken-2">
          <div class="nav-wrapper">
            <div class="nav-container">
              <div><a href="" class="brand-logo">PitchPaint</a></div>

              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><div class="new-track-btn-container">
                  <a href="" class="login-btn right waves-effect waves-light btn">New Drawing</a>
                </div></li>
                <li><div class="new-track-btn-container">
                  <a href="" class="login-btn right waves-effect waves-light btn">Search Drawings</a>
                </div></li>

                <li><a href=""><ul>
             <!--    {% if current_user.is_authenticated %}
                    <li><i class="material-icons">perm_identity</i></li>
                Hi, {{current_user.username }}! -->
                </ul></a></li>

            <li><a href="">Logout </a></li>
                    {% endif %}



                <!-- {% if not current_user.is_authenticated %}
                <li><div class="login-btn-container">
                  <a href="{{ url_for('login.oauth_authorize', provider='facebook') }}" class="login-btn right waves-effect waves-light btn">Login</a>
                </div></li>
                {% endif %} -->
              
              </ul>
            </div>
          </div>
        </nav>
      </div>
            {{> yield}}
  </body>
</template>